$buttonWidth: 80px;
$bgColor: #EEE;
$bgButton: #CCC;
$bgScreen: #CCC;

$fontColor: #222;

* {
    background-color: $fontColor;
    color: $fontColor;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Orbitron", sans-serif;
    &:focus{
        outline: none;
    }
}
body {
    display: grid;
    grid-template: repeat(7, 1fr) / repeat(4, 1fr);
    width: 400px;
    max-width: 85%;
    margin:  100px auto;
    padding: 30px 20px;
    border-radius: 8px;
    background-color: $bgColor;
}

button {
    background: none;
    border: none;
}

.button {
    height: $buttonWidth*4/7;
    box-shadow: -2px 2px 2px $fontColor;
    &:hover {
        background-color: #DDD;
    }
    &:active {
        background-color: $bgColor;
        box-shadow: none;
    }
}

#calcInput {
    text-align: right;
    width: 100%;
    padding: 5px 0;
    border: none;
    background-color: $bgScreen;
}

#calcResult {
    padding: 5px 0;
    margin: 0;
    text-align: right;
    background-color: $bgScreen;
}

#calcScreen {
    padding: 8px 4px;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: inset -1px 1px 2px $fontColor;
}

.button, #calcScreen {
    background-color: $bgScreen;
    margin: 4px;
    border: 1px solid $fontColor;
    border-radius: 4px;

}

#inpEquals {
    height: auto;
}
#inpClear, #inpBackspace {
    color: #A70B0B;
    font-weight: 900;
}

//Grid-ify
#calcScreen {
    grid-area: 1 / 1 / 3 / 4;
}
#inp1{ grid-area: 4 / 1 / span 1 / span 1}
#inp2{ grid-area: 4 / 2 / span 1 / span 1}
#inp3{ grid-area: 4 / 3 / span 1 / span 1}
#inp4{ grid-area: 5 / 1 / span 1 / span 1}
#inp5{ grid-area: 5 / 2 / span 1 / span 1}
#inp6{ grid-area: 5 / 3 / span 1 / span 1}
#inp7{ grid-area: 6 / 1 / span 1 / span 1}
#inp8{ grid-area: 6 / 2 / span 1 / span 1}
#inp9{ grid-area: 6 / 3 / span 1 / span 1}
#inpBracketLeft{ grid-area: 7 / 1 / span 1 / span 1}
#inpBracketRight{ grid-area: 7 / 2 / span 1 / span 1}
#inp0{ grid-area: 7 / 3 / span 1 / span 1}
#inpPower{ grid-area: 3 / 1 / span 1 / span 1}
#inpDivide{ grid-area: 3 / 2 / span 1 / span 1}
#inpMultiply{ grid-area: 3 / 3 / span 1 / span 1}
#inpMinus{ grid-area: 3 / 4 / span 1 / span 1}
#inpPlus{ grid-area: 4 / 4 / span 1 / span 1}
#inpDecimal{ grid-area: 5 / 4 / span 1 / span 1}
#inpBackspace{ grid-area: 1 / 4 / span 1 / span 1}
#inpClear{ grid-area: 2 / 4 / span 1 / span 1}
#inpEquals{ grid-area: 6 / 4 / span 2 / span 1}

button:disabled, button[disabled] {
    background-color: #999;
    &:hover {
        background-color:#999;
    }
}
